{% extends "user/common_user.html" %}

{% block content %}
<div class="container">
    <br>
    <h2 style="text-align: center;">Feedback for</h2>
    <br>
    <br>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="feedback">Your Feedback:</label>
            <textarea id="feedback" name="feedback" class="form-control" rows="5" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit Feedback</button>
    </form>
</div>
<br>
<br>

{% endblock %}
